    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
        /* Thêm các thuộc tính CSS khác tùy theo thiết kế của bạn */
    }
    
    .logo1 {
        float: left;
        /* Đặt logo bên trái */
    }
    
    nav ul {
        list-style: none;
        padding: 6;
        margin: 2;
        display: flex;
    }
    
    nav ul li {
        margin-right: 10px;
        /* Khoảng cách giữa các mục menu */
    }
    
    nav ul li:last-child {
        margin-right: 0;
        /* Xóa khoảng cách của mục menu cuối cùng */
    }
    
    nav ul li a {
        text-decoration: none;
        color: #333;
        /* Màu chữ của menu */
        /* Thêm các thuộc tính CSS khác cho menu */
    }
    
    .content {
        flex: 1;
        /* Mỗi phần content chiếm một phần đều của không gian */
        max-width: 100%;
        /* Chiều rộng tối đa của phần content là 100% */
        padding: 20px;
        /* Thêm khoảng cách xung quanh nội dung */
    }
    
    .caption {
        flex: 1;
        /* Mỗi caption chiếm một phần đều của không gian */
        max-width: 100%;
        /* Chiều rộng tối đa của caption là 100% */
        padding: 20px;
        /* Thêm khoảng cách xung quanh caption */
        text-align: center;
    }